  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size:23px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float:none;
    padding:10px;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
 
  .result_para_tag span{
    white-space:pre-line;
  }

  .copy_right_footer{
    width:100%;
    position:fixed;
    background-color:red ;
    color:white;
    text-align: center;
    line-height: 2;
    bottom:0;
    font-size:15px;
  }

  canvas{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2px;
    box-shadow:5px 5px 5px red;
    margin-top: 110px;
  }